<h2>JS Excersises</h2>

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    
                    <h2>Portfolio 2 columns</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="portfolio-categ filter">
                    <li class="all">@Html.ActionLink("All", "Portfolio")</li>
                    <li class="web active">@Html.ActionLink("JavaScript Excersises", "JavaScriptE")</li>
                    
                </ul>

                <div class="clearfix"></div>
                <div class="row">
                    <section id="projects">
                        <ul id="thumbs" class="grid cs-style-4 portfolio">

                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs span6 web" data-id="id-0" data-type="web">
                                <div class="item">
                                    <figure>
                                        <div>
                                            <img src="~/img/FIZZBUZZ LARGE.png" />
                                        </div>
                                        <figcaption>
                                            <div>
                                                <span>
                                                    @Html.ActionLink("FizzBuzz", "FizzBuzz", null, new { @class = "actbutton" })
                                                </span>
                                                <span>
                                                    @Html.ActionLink("FizzBuzz", "FizzBuzz", null, new { @class = "actbutton" })
                                                </span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs span6 web" data-id="id-0" data-type="web">
                                <div class="item">
                                    <figure>
                                        <div>
                                            <img src="~/img/FACTORIAL LARGE.png" />
                                        </div>
                                        <figcaption>
                                            <div>
                                                <span>
                                                    @Html.ActionLink("Factorial", "Factorial", null, new { @class = "actbutton" })
                                                </span>
                                                <span>
                                                    @Html.ActionLink("Factorial", "Factorial", null, new { @class = "actbutton" })
                                                </span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs span6 web" data-id="id-0" data-type="web">
                                <div class="item">
                                    <figure>
                                        <div>
                                            <img src="~/img/MATH LARGE.png" />
                                        </div>
                                        <figcaption>
                                            <div>
                                                <span>
                                                    @Html.ActionLink("Math", "Math", null, new { @class = "actbutton" })
                                                </span>
                                                <span>
                                                    @Html.ActionLink("Math", "Math", null, new { @class = "actbutton" })
                                                </span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs span6 web" data-id="id-0" data-type="web">
                                <div class="item">
                                    <figure>
                                        <div>
                                            <img src="~/img/PALINDROME LARGE.png" />
                                        </div>
                                        <figcaption>
                                            <div>
                                                <span>
                                                    @Html.ActionLink("Palinodrome", "Palindrome", null, new { @class = "actbutton" })
                                                </span>
                                                <span>
                                                    @Html.ActionLink("Palindrome", "Palindrome", null, new { @class = "actbutton" })
                                                </span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <!-- End Item Project -->
                        </ul>
                    </section>

                </div>
            </div>
        </div>
    </div>
</section>

